<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>试卷预览</title>
</head>
<body>
<div>选择题</div>
<div>
    <div><a>1.7&nbsp;</a>1+1等于几？</div>
    <div><a>1.7&nbsp;</a>1+1等于几？
        <div><input type="radio" value="A" name="usertype" />A. 123456</div>
        <div><input type="radio" value="B" name="usertype" />B. 2</div>
        <div><input type="radio" value="C" name="usertype" />C. 1</div>
        <div><input type="radio" value="D" name="usertype" />D. 3</div>
    </div>
</div>
<div>
    <div><a>1.7&nbsp;</a>1+1等于几？</div>
    <div><a>1.7&nbsp;</a>1+1等于几？
        <div><input type="radio" value="A" name="usertype" />A. 123456</div>
        <div><input type="radio" value="B" name="usertype" />B. 2</div>
        <div><input type="radio" value="C" name="usertype" />C. 1</div>
        <div><input type="radio" value="D" name="usertype" />D. 3</div>
    </div>
</div>
<div>
    <div><a>1.7&nbsp;</a>1+1等于几？</div>
    <div><a>1.7&nbsp;</a>1+1等于几？
        <div><input type="radio" value="A" name="usertype" />A. 123456</div>
        <div><input type="radio" value="B" name="usertype" />B. 2</div>
        <div><input type="radio" value="C" name="usertype" />C. 1</div>
        <div><input type="radio" value="D" name="usertype" />D. 3</div>
    </div>
</div>
<div>填空题</div>
<div>
    <div><a>4.&nbsp;</a>1+1等于<input /></div>
    <div><a>4.&nbsp;</a>1+1等于<input /></div>
    <div><a>4.&nbsp;</a>1+1等于<input /></div>
    <div><a>4.&nbsp;</a>1+1等于<input /></div>
</div>
</body>
</html>