body{
    background: url(../images/bg.png) center center no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.st-login-box{

    visibility: hidden;
    position: absolute;
    overflow: hidden;
    width: 100%;
    border-bottom: 0;
    box-shadow: none;
    padding: 6px;
    background-color: rgba(0,0,0,0.1);
    -moz-transform: scale(0, 1) translate(-150px);
    -webkit-transform: scale(0, 1) translate(-150px);
    -o-transform: scale(0, 1) translate(-150px);
    -ms-transform: scale(0, 1) translate(-150px);
    transform: scale(0, 1) translate(-150px)
}